{% extends 'layout.njk' %}

{% block content %}
<h3>About me 🤔</h3>
<div class="row mt-3 mb-7">
    <div class="col-lg-4 mt-2 my-auto d-none d-lg-block">
        <img src="https://res.cloudinary.com/hfs-lab/image/upload/v1631940802/June/IMG_0401-removebg-preview_ojgv9v.png" class="w-75">
    </div>
    <div class="col-lg-4 text-center mb-3 d-lg-none">
        <img src="https://res.cloudinary.com/hfs-lab/image/upload/v1631940802/June/IMG_0401-removebg-preview_ojgv9v.png" class="w-75">
    </div>

    <div class="col-lg-8">
        <div class="shadow card">
            
            <div class="card-header">
                <h5 class="card-title mt-1">
                    Lee, Junehyung 
                    <small class="card-subtitle text-muted px-2 fs-6">이준형</small> 
                </h5>
            </div>

            <div class="card-body">
                <p class="card-text">
                    Hello and welcome to my webpage!
                </p>

                <p class="card-text" align="justify">
                    I am thrilled that you have taken the time to visit. 
                    My name is Junehyung Lee, and I'm originated from Seoul, South Korea (+82).
                </p>

                <p class="card-text" align="justify">
                    My professional interests revolve around Human Factors, User Research, and UI & UX. Currently, I am serving as a research assistant at <a href="https://humanfactors.oucreate.com">Human Factors & Simulation Lab</a> at <a href="https://www.ou.edu">University of Oklahoma</a>. On this website, you will find a collection of my past and ongoing projects, which highlight my dedication and expertise in these areas.
                    I also encourage you to explore the various menus above to delve deeper into my work. You will find detailed information about the projects I have been involved in, along with my contributions and outcomes.
                </p>

                <p class="card-text" align="justify">
                    If you are interested in learning more about me or would like to connect further, please don't hesitate to explore the different options below. I look forward to the possibility of connecting with you!
                </p>

                <p class="card-text" align="left">
                    Thank you for visiting, <br>
                    June Lee
                </p>

                <!--
                <p class="card-text">
                    Hey there! Welcome to my webpage, and I appreciate the visit! <br>
                    My name is Junehyung Lee, originated from Seoul, South Korea (+82).
                </p>

                <p class="card-text">
                    My research interests are mostly in Human Factors, User Research, UI & UX. 
                    I'm currently working as a research and teaching assistant at the Human Factors & Simulation Lab at the University of Oklahoma. 
                    Using the menus above, you can find previous or current projects on which I worked.
                    <br>
                    
                </p>

                <p class="card-text">
                    If you want to learn more about me and socialize further, please feel free to try the other options below as well!
                </p>
                -->

                <div class="card-text mx-4 mb-2 d-lg-none">
                    <div class="row"><a href="https://facebook.com/junehyung" class="btn btn-outline-primary mt-1">Facebook</a></div>
                    
                    <div class="row"><a href="https://instagram.com/junehyung_lee/" class="btn btn-outline-primary mt-1">Instagram</a></div>

                    <div class="row"><a href="https://twitter.com/ljunehyung" class="btn btn-outline-primary mt-1">Twitter</a></div>

                    <div class="row"><a href="https://linkedin.com/in/junehyung-lee-a8b071104" class="btn btn-outline-primary mt-1">Linked In</a></div>
                </div>

                <div class="card-text px-100 mb-2 d-none d-lg-block">
                    <div class="row">
                        <div class="col text-center px-10">
                            <a href="https://facebook.com/junehyung" class="btn btn-outline-primary d-block">Facebook</a>
                        </div>

                        <div class="col text-center px-10">
                            <a href="https://instagram.com/junehyung_lee/" class="btn btn-outline-primary d-block">Instagram</a>
                        </div>

                        <div class="col text-center px-10">
                            <a href="https://twitter.com/ljunehyung" class="btn btn-outline-primary d-block">Twitter</a>
                        </div>

                        <div class="col text-center px-10">
                            <a href="https://linkedin.com/in/junehyung-lee-a8b071104" class="btn btn-outline-primary d-block">Linked In</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mt-7 mb-7">

    <h3>A few personal updates</h3>

    <div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">A new family member just confirmed!</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Jul 12, 2023</h6>
            <picture>
                <source srcset="baby.jpg" type="image/svg+xml">
                <img src="baby.jpg" class="img-fluid img-thumbnail" alt="...">
            </picture>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!--
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            -->
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">I've got married!</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Jun 18, 2022</h6>
            <picture>
                <source srcset="wedding.jpeg" type="image/svg+xml">
                <img src="wedding.jpeg" class="img-fluid img-thumbnail" alt="...">
            </picture>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!--
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            -->
        </div>
    </div>
    </div>
</div>

{% endblock content %}