{% extends 'layout.njk' %}

{% block content %}
<h3>[Python] Setting up a separate Python environment per project</h3>
<p>Fall 2022 <br>Junehyung Lee</p>

<div class="row mt-4">
    <p>
        When using Python language on your computer device, it is different from just using R, which is quite straightforward and easy. 
        You have to set python environment channel for your computer, which is hassle. And it could be tangled once a new version of Python is installed to your computer accidentally. 
        
        <br> <br>

        Managing Conda <br>
        <code>conda --version</code> <br>
        <code> conda update conda </code>
    </p>
</div>

<div class="row mt-1">
    <p>
        
    </p>
</div>

<div class="row"><br></div>

<div class="row"><hr></div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      <li class="page-item disabled">
        <a class="page-link" href="#"><</a>
      </li>

      <li class="page-item"><a class="page-link" href="../skill">List</a></li>

      <li class="page-item disabled">
        <a class="page-link" href="#">></a>
      </li>
    
    </ul>
</nav>

<div class="row"><br></div>

{% endblock content %}